<script>
  export let type = "primary";
</script>

<button class={type} on:click><slot /></button>

<style>
  button {
    font-weight: 600;
    border-radius: 10px;
    padding: 12px 36px;
    cursor: pointer;
  }

  .primary {
    color: #181818;
    border: 1px solid #ff4742;
    background-color: #ff4742;
  }

  .secondary {
    color: #bfbfbf;
    border: 1px solid #30363d;
    background-color: #1f1e1e;
  }
</style>
