<script>
</script>

<footer>
  <div>Copyright 2023</div>
</footer>

<style>
  footer {
    color: #a8a4a0;
    background-color: #181818;
    border-top: 1px solid #30363d;
    padding: 20px;
    text-align: center;
  }
</style>
