<script>
  import { fade, slide, scale } from "svelte/transition";
  import { flip } from "svelte/animate";
  import HabitStore from "../stores/HabitStore.js";
  import HabitCard from "./HabitCard.svelte";
</script>

<div class="list">
  {#each $HabitStore as habit (habit.id)}
    <div in:fade out:scale|local animate:flip={{ duration: 500 }}>
      <HabitCard {habit} />
    </div>
  {/each}
</div>

<style>
</style>
