<script>
  import { createEventDispatcher } from "svelte";
  import HabitStore from "../stores/HabitStore";
  import Button from "./Button.svelte";

  const dispatch = createEventDispatcher();

  let fields = { habit: "" };
  let errors = { habit: "" };
  let isValid = false;

  const handleSubmit = () => {
    isValid = true;

    if (fields.habit.trim().length < 3) {
      isValid = false;
      errors.habit = "Habit must bee at least 3 characters long";
    } else {
      errors.habit = "";
    }

    if (isValid) {
      let habit = { ...fields, yes: 0, no: 0, id: Math.random() };
      HabitStore.update((data) => [habit, ...data]);
      dispatch("addHabit");
    }
  };
</script>

<form on:submit|preventDefault={handleSubmit}>
  <div class="field">
    <label for="habit">Habit:</label>
    <input type="text" id="habit" bind:value={fields.habit} />
    <small>{errors.habit}</small>
  </div>
  <Button type="secondary">Add Habit</Button>
</form>

<style>
</style>
