<script>
  import { tweened } from "svelte/motion";
  import HabitStore from "../stores/HabitStore";
  import Button from "./Button.svelte";

  export let habit;
  $: total = habit.yes + habit.no;
  $: percentYes = Math.floor((100 / total) * habit.yes) || 0;
  $: percentNo = Math.floor((100 / total) * habit.no) || 0;

  const tweenedYes = tweened(0);
  const tweenedNo = tweened(0);
  $: tweenedYes.set(percentYes);
  $: tweenedNo.set(percentNo);

  const handleLog = (option, id) => {
    HabitStore.update((data) => {
      let habitsCopy = [...data];
      let habit = habitsCopy.find((habit) => habit.id === id);

      if (option === "yes") habit.yes++;
      if (option === "no") habit.no++;

      return habitsCopy;
    });
  };

  const handleDelete = (id) => {
    HabitStore.update((data) => data.filter((item) => item.id !== id));
  };
</script>

<div class="card">
  <h2>{habit.habit}</h2>
  <p>Total: {total}</p>
  <!-- svelte-ignore a11y-click-events-have-key-events -->
  <div class="answer" on:click={() => handleLog("yes", habit.id)}>
    <div class="percent percent-yes" style="width: {$tweenedYes}%" />
    <span>👍 Yes ({habit.yes})</span>
  </div>
  <!-- svelte-ignore a11y-click-events-have-key-events -->
  <div class="answer" on:click={() => handleLog("no", habit.id)}>
    <span>👎 No ({habit.no})</span>
    <div class="percent percent-no" style="width: {$tweenedNo}%" />
  </div>
  <div class="delete">
    <Button type="secondary" on:click={() => handleDelete(habit.id)}>🗑️</Button>
  </div>
</div>

<style>
  h2 {
    margin: 0 auto;
    color: #a8a4a0;
  }

  p {
    margin-top: 5px;
    color: #a8a4a0;
    margin-bottom: 25px;
  }

  .answer {
    cursor: pointer;
    position: relative;
    margin: 10px auto;
    background-color: #1f1e1e;
    padding: 12px 36px;
    border-radius: 7px;
  }

  .answer:hover {
    background-color: #292929;
  }

  span {
    position: relative;
    display: inline-block;
    font-weight: 700;
    z-index: 2;
  }

  .percent {
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    border-radius: 10px;
  }

  .percent-yes {
    border-left: 5px solid #36e67f;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #36e67f;
  }

  .percent-no {
    border-left: 5px solid #ff4742;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ff4742;
  }

  .delete {
    text-align: center;
  }
</style>
