<script>
</script>

<header>
  <h1>Habit Tracker</h1>
</header>

<style>
  header {
    color: #a8a4a0;
    background-color: #181818;
    border-bottom: 1px solid #30363d;
    padding: 20px;
  }
  h1 {
    margin: 0;
    text-align: center;
  }
</style>
