<script>
  import { createEventDispatcher } from "svelte";
  import Button from "./Button.svelte";

  export let items;
  export let activeItem;

  const dispatch = createEventDispatcher();
</script>

<div class="tabs">
  <ul class="tabs-list">
    {#each items as item}
      <li class="item" on:click={() => dispatch("changeTab", item)}>
        <Button type={item === activeItem ? "primary" : "secondary"}>
          {item}
        </Button>
      </li>
    {/each}
  </ul>
</div>

<style>
  .tabs-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .item {
    list-style: none;
  }
</style>
