<script>
  import Footer from "./components/Footer.svelte";
  import HabitForm from "./components/HabitForm.svelte";
  import HabitList from "./components/HabitList.svelte";
  import Header from "./components/Header.svelte";
  import Tabs from "./components/Tabs.svelte";

  let items = ["My Habits", "Add Habit"];
  let activeItem = "My Habits";

  const changeTab = (e) => {
    activeItem = e.detail;
  };

  const addHabit = () => {
    activeItem = "My Habits";
  };
</script>

<Header />
<main>
  <Tabs {items} {activeItem} on:changeTab={changeTab} />
  {#if activeItem === "My Habits"}
    <HabitList />
  {:else if activeItem === "Add Habit"}
    <HabitForm on:addHabit={addHabit} />
  {/if}
</main>
<Footer />

<style>
  main {
    max-width: 1200px;
    margin: 25px auto;
  }
</style>
